<input type="text" class="form-control" [(ngModel)]="searchText" placeholder="search for a track" (keyup)="search()"/>
<div *ngIf="trackList.length>0" class="container-fluid">
    <hr/>
    <h5>Search Results</h5>
    <div class="row">
        <div *ngFor="let track of trackList; let i=index" class="col-md-12">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">#{{i+1}} {{track.name}} - {{track.artist}}</h5>
                  <!-- <p class="card-text">{{track.artist}}</p> -->
                  <br/>
                  <button class="btn btn-link" (click)="showVideo(track.name)">Show Video</button>
                  <div *ngIf="track.name==selected">
                    <iframe [src]="track.url" height="300" width="100%" allowfullscreen>
                    </iframe>
                    </div>
                </div>
              </div>
        </div>
    </div>
</div>